<app-navbar></app-navbar>

<section class="main">
    <div class="row body">
        <div class="col-md-4 col-sm-12 head p-5">
            <h2 class="head-text">Let Us Guide <br> You<span style="color:#8db600;"> Home</span></h2>
            <p class="pt-2">Lorem ipsum dolor sit amet consectetur, adipisic<br> Suscipit repellendus tempora, ipsum
                doloribus <br> quis officia placeat </p>
            <button class="btn btn-outline-primary  ">explore more..</button>
        </div>
        <div class="col-8 right_sec">
            <img src="../../assets/pexels-emre-can-acer-2079434-removebg-preview.png" alt="" class="img-responsive ">
        </div>
    </div>

    <div class="container">
        <h2 class="head-text text-center  mt-5">Acheviments</h2>
        <p class="text-center text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam sit animi
            <br> soluta vel, ea eum quae obcaecati mollitia
        </p>

        <div class="row text-center mt-5 ">
            <div class="col-md-3">
                <h5 class="count">12518+</h5>
                <h6>Success Project</h6>
            </div>
            <div class="col-md-3">
                <h5 class="count">8676+</h5>
                <h6>Running Project</h6>
            </div>
            <div class="col-md-3">
                <h5 class="count">12122+</h5>
                <h6>Pending Projects</h6>
            </div>
            <div class="col-md-3">
                <h5 class="count">10000+</h5>
                <h6>Happy customers </h6>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="mt-5">
    </div>

    <section>
        <div class="container mt-5  p-4">
            <div class="row d-flex">
                <div class="card-sec col-md-6 col-sm-12 d-flex">
                    <div class="card-1">
                        <img src="../../assets/pexels-graphicgumcom-1115804.jpg" alt="" width="100%">
                    </div>
                    <div class="card-1">
                        <img src="../../assets/pexels-graphicgumcom-1115804.jpg" alt="" width="100%">
                    </div>
                    <div class="card-1">
                        <img src="../../assets/pexels-graphicgumcom-1115804.jpg" alt="" width="100%">

                    </div>
                </div>


                <div class="card-right col-md-6 col-sm-12 ">
                    <p class="head-text fw-bold mt-5 h6 ms-5" style="color: #8db600;">WELCOME TO LIVE ARCHITECTE</p>
                    <h2 class="fw-bold ms-5">Relaxing Pleasure</h2>
                    <p class="ms-5 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere exercitationem
                        dolores placeat, officia molestias quas tempore odit fuga temporibus ex, dicta quia eius
                        asperiores ratione corporis accusamus? Eius, molestias et.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="service">
        <h2 class="head-text text-center  mt-5">Services We Provide</h2>
        <div class="container ">
            <div class="row mt-5 center">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3><i class="bi bi-house text-success"></i></h3>
                            <div class="card-title h5 fw-bold">Ensure our service</div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam in quidem impedit </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3><i class="bi bi-house text-success"></i></h3>
                            <div class="card-title h5 fw-bold">Ensure our service</div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam in quidem impedit </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3><i class="bi bi-house text-success"></i></h3>
                            <div class="card-title h5 fw-bold">Ensure our service</div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam in quidem impedit </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="why ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="head-text ">Why Choose Us?</h2>
                    <div class="list-item">
                        <div class="item mt-3">
                            <i class="bi bi-house-add h1 "></i>
                            <div class="head-text">
                                <h4 class="fw-bold ms-2 mt-1">Ensure the quality</h4>
                                <h6 class="ms-3">we ensure the quality of our brand and product</h6>
                            </div>
                        </div>
                        <div class="item">
                            <i class="bi bi-wallet2 h1"></i>
                            <div class="head-text">
                                <h4 class="fw-bold ms-2 mt-1">Maintane the cost</h4>
                                <h6 class="ms-3">the products and meterials thats taken direct from the factory </h6>
                            </div>
                        </div>
                        <div class="item">
                            <i class="bi bi-clock h1"></i>
                            <div class="head-text">
                                <h4 class="fw-bold ms-2 mt-1 ">Project Completion</h4>
                                <h6 class="ms-3">We ensure the time what we say </h6>
                            </div>
                        </div>
                        <div class="item">
                            <i class="bi bi-headset h1"></i>
                            <div class="head-text">
                                <h4 class="fw-bold ms-2 mt-1">Customer care</h4>
                                <h6 class="ms-3">we have 24/7 cutomer support </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-img col-md-6">
                    <img src="../../assets/pexels-graphicgumcom-1115804.jpg" alt="London Villas" width="80%">
                </div>

            </div>

        </div>

    </section>


    <section class="mt-5 container">
        <h2 class="head-text text-center  mt-2">Our Stock Houses</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-img">
                        <img src="../../assets/pexels-max-rahubovskiy-5997996.jpg" alt="Dubai Hayat" width="100%">
                    </div>
                    <div class="card-body">
                        <div class="hotel-name">
                            <h6 class="fw-bold">Hi-lite builds</h6>
                            <div class="star-sec">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                            </div>
                            <h6>Rs &nbsp;<span class="text-danger fw-bold">87600</span></h6>
                            <h6 class="pro-details">The property is owned by hilite bussiness Group calicut</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-img">
                        <img src="../../assets/pexels-max-rahubovskiy-7031594.jpg" alt="Grand Hayat Kochi" width="100%">
                    </div>
                    <div class="card-body">
                        <div class="hotel-name">
                            <h6 class="fw-bold">Lulu Group</h6>
                            <div class="star-sec">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                            </div>
                            <h6>Rs &nbsp;<span class="text-danger fw-bold">385000</span></h6>
                            <h6 class="pro-details">The property is owned by hilite bussiness Group calicut</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-img">
                        <img src="../../assets/pexels-max-rahubovskiy-7031406.jpg" alt="" width="100%">
                    </div>
                    <div class="card-body">
                        <div class="hotel-name">
                            <h6 class="fw-bold">Grand Hayat</h6>
                            <div class="star-sec">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                            </div>
                            <h6>Rs &nbsp;<span class="text-danger fw-bold">880000</span></h6>
                            <h6 class="pro-details">The property is owned by hilite bussiness Group calicut</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
            <button class="btn btn-primary load-more ">Load More</button>

            </div>
        </div>
     
    </section>

</section>
<div  class="mt-3">
    <app-footer></app-footer>

</div>