<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ms-5 me-5">
      <a class="navbar-brand fw-bold" href="#">LIVE <span class="arch">ARCHITECTS</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto mt-2">
          <a class="nav-link active text-dark " href="#">Home</a>
          <a class="nav-link text-dark" href="#">Features</a>
          <a class="nav-link text-dark" href="#">Pricing</a>
          <a class="nav-link text-dark" href="#">Disabled</a>
          <button class="nav-btn">Contact</button>
        </div>
      </div>
    </div>
  </nav>